In [5]:
from fastai import *
from fastai.tabular import *
import pandas as pd

In [6]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/"adult.csv")

In [14]:
dep_var = "salary"
cat_names = ["workclass", "education", "marital-status", "occupation", "relationship", "race"]
cont_names = ["age", "fnlwgt", "education-num"]
procs = [FillMissing, Categorify, Normalize]

In [15]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [18]:
# data block API
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                            .split_by_idx(list(range(800,1000)))
                            .label_from_df(cols=dep_var)
                            .add_test(test, label=0)
                            .databunch())

In [19]:
data.show_batch(rows=10)

In [21]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [24]:
learn.fit(1, 1e-2)